@import "tailwindcss";

@theme inline{
  --font-roboto: var(--font-roboto);
  --font-raleway: var(--font-raleway);
}
body {
  background-color: #121212;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  @apply cursor-pointer;
}

/* styling for the connect wallet button */
button.wallet-adapter-button-trigger {
  background: purple;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: all 0.3s ease;
}

button.wallet-adapter-button-trigger:hover {
  background-color: #fe66f673 !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}